<% provide(:title, "All users") %>

<div id="users">
  <ul style="list-style:none;">
    <% @users.each do |user| %>
      <li>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <%= link_to user.name, user %>
        <% if current_user && current_user.admin? %> | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </li><br>
    <% end %>
  </ul>

  <%= paginate @users %>

<div class="row">
  <div id="footer" class="col-xs-10 col-xs-offset-1">
    <ul class="nav nav-pills">
      <li role="presentation">
        <%= link_to 'Back', :back %>
      </li>
    </ul>
  </div>
</div>