<% provide(:title, "My Closet") %>

<% if @user.clothes.none? %>
  <h4 class="message">No clothe here. Let's add clothes !</h4><br>
<% else %>
  <div class="row">
    <div id="search" class="col-xs-10 col-xs-offset-1">
      <%= render 'shared/clothes_search_form' %>
    </div>
  </div>
  <%= render 'clothes/clothes' %>
<% end %>

<div class="row">
  <div id="footer" class="col-xs-10 col-xs-offset-1">
    <ul class="nav nav-pills">
      <li role="presentation">
        <%= link_to 'Back', :back %>
      </li>
      <li role="presentation">
        <%= link_to 'Add New Clothe', new_clothe_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>
</div>