<%= form_tag current_user, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], placeholder: "Input Item or color", :size=>"30" %>
    <%= submit_tag 'Search', :item => nil, :color => nil %>
<% end %>

