<div class="example">
  <div class="img">
    <%=image_tag "15334418751480.jpg" %>
  </div>
  <div class="text">
    <h1>Closet Application</h3>
  </div>
  <div class="msg">
    <% if user_signed_in? %>
      <p>Thank you for comming.</p>
    <% else %>
      <p>Welcome to our application</p><br>
    <% end %>
  </div>
</div>