<div id="content">
  <% @clothes.each do |clothe| %>
    <div id="all_clothe_img" class="col-xs-3 col-md-2">
      <%= link_to clothe do %>
        <%= image_tag clothe.img.to_s, :size =>'90x120' %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="paginate">
    <%= paginate @clothes %>
</div>