<%= form_with model: @clothe, locla:true do |f| %>
  <div class="form-group">
    <%= f.label :item %>
    <%= f.select :item, [["シャツ"], ["トップス"], ["パンツ"], ["スカート"], ["ワンピース"], ["その他"]], {}, class: 'form-control' %>
  </div><br>

  <div class="form-group">
    <%= f.label :color %>
    <%= f.select :color, [["青"], ["赤"], ["黄"], ["黒"], ["グレー"], ["白"], ["緑"], ["紫"], ["ピンク"], ["ベージュ"], ["ボーダー"], ["ストライプ"], ["水玉"], ["花柄"], ["その他"]], {}, class: 'form-control' %>
  </div><br>

  <%= f.label :data %>
  <div class='input-group date datepicker'>
    <%= f.text_field :date, class: 'form-control' %>
    <span class="input-group-addon"></span>
  </div><br>

  <div class="form-group">
    <%= f.label :memo %>
    <%= f.text_area :memo, class: 'form-control' %>
  </div><br>

  <div class="form-group">
    <%= f.label :img, :class => 'control-label' %>
    <%= f.file_field :img, id: :cloth_img %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <p><%= f.check_box :remove_img %>画像を削除する</p><br>

  <div class="actions">
    <%= f.submit 'Post', class: "btn" %><br>
  </div>
<% end %>