<% provide(:title, "Add new clothe") %>

<%= render 'form' %>

<div class="row">
  <div id="footer" class="col-xs-10 col-xs-offset-1">
    <ul class="nav nav-pills">
      <li role="presentation">
        <%= link_to 'Back', :back %>
      </li>
    </ul>
  </div>
</div>