<% provide(:title, "Clothe Data") %>

<div id="img">
    <%= image_tag @clothe.img.to_s, :size =>'100x130' if @clothe.img.present? %>
</div>

<div id="info">
  <h5><span class="under">Item & color</span></h5>
  <p><%= @clothe.item %> <%= @clothe.color %></p><br>
  <h5><span class="under">Date</span></h5>
  <p><%= @clothe.date %></p><br>
  <h5><span class="under">Memo</span></h5>
  <p><%= @clothe.memo %></p>
</div>

<div class="row">
  <div id="footer" class="col-xs-10 col-xs-offset-1">
    <ul class="nav nav-pills">
      <li role="presentation">
        <%= link_to 'Back', current_user %>
      </li>
      <li role="presentation">
        <%= link_to 'Edit', edit_clothe_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Delete', @clothe, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
  </div>
</div>