<% provide(:title, "Sign up") %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Sign in", class: "btn btn" %>
  </div>
<% end %>

<ul class="nav nav-pills">
  <li role="presentation">
    <%= link_to "Sign up", new_user_registration_path %>
  </li>
  <li role="presentation">
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  </li>
</ul>

