/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

 /* universal */

html {
  overflow-y: scroll;
}

header {
  margin-top: 20px;
  position: relative;
}

.page_title {
  position: absolute;
  top: 50%;
  left: 80%;
  -ms-transform: translate( -50%, -50% );
  -webkit-transform: translate( -50%, -50% );
  transform: translate( -50%, -50% );
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  font-size: 14px;
}

.notice, .alert {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
}

.small-body {
  margin-top: 15px;
}