#search {
  text-align: center;
}

#img {
  margin: 20px 0px;
  text-align: center;
}

#info {
  margin: 20px 0px;
  text-align: center;
  .under {
    background: linear-gradient(transparent 70%, #ff99ab 70%);
  }
  h5, p{
    font-family: Quicksand, sans-serif;
  }
}

form {
  margin: 20px 0px;
}