.example {
  position: relative;
}

.example img {
  width: 100%
}

.text {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate( -50%, -50% );
  -webkit-transform: translate( -50%, -50% );
  transform: translate( -50%, -50% );
  margin: 0;
  padding: 0;
  h1{
    color: white;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
  }
  @media (min-width: 768px) {
    h1 {
    color: white;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-size: 30px;
    }
  }
}

.msg {
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate( -50%, -50% );
  -webkit-transform: translate( -50%, -50% );
  transform: translate( -50%, -50% );
  margin: 0;
  padding: 0;
  p {
    color: white;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
  }
  @media (min-width: 768px) {
    p {
    color: white;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    }
  }
}