.message {
  margin: 20px 10px;
  text-align: center;
}

#all_clothe_img {
  margin: 20px 10px;
  text-align: center;
}

#paginate {
  font-size: 18px;
  text-align: center;
}

#users li{
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  margin: 0px 20px;
}

#users li{
  @media (min-width: 768px) {
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    margin: 0px 20px;
  }
}