<header>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <%= link_to "Home", root_path %>
        </li>
        <% if user_signed_in? %>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <%= link_to "My Closet", current_user %>
              </li>
              <li role="presentation">
                <%= link_to "Add New Closet", new_clothe_path%>
              </li>
              <li role="presentation">
                <%= link_to "Edit Your Data", edit_user_registration_path %>
              </li>
              <li role="presentation">
                <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
              </li>
              <% if current_user && current_user.admin? %>
                <li role="presentation">
                  <%= link_to "All Users", users_path %>
                </li>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li role="presentation">
            <%= link_to "Sign in", new_user_session_path %>
          </li>
          <li role="presentation">
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
        <% end %>
        <div class="page_title">
          <%= yield(:title) %>
        </div>
      </ul>
    </div>
  </div>
</header>